In [1]:
import numpy as np
import pandas as pd
import random
import datetime
from sklearn.model_selection import train_test_split
from datetime import date
import tensorflow as tf
import train_test_generation
from sklearn.model_selection import GridSearchCV
import train_test_generation

62.5

In [2]:
raw = pd.read_csv('iterative_dataset.csv')

In [3]:
raw.columns

Index(['Unnamed: 0', 'temperature', 'humidity', 'precipitation', 'windspeed',
       'age', 'weight', 'height', 'sex', 'fatpercentage', 'bmi',
       'cold_resistance', 'scoring_difference', 'thermal', 'hoodie', 'fleece',
       'wool', 'light_down', 'thick_down'],
      dtype='object')

In [4]:
raw.head()

,Unnamed: 0,temperature,humidity,precipitation,windspeed,age,weight,height,sex,fatpercentage,bmi,cold_resistance,scoring_difference,thermal,hoodie,fleece,wool,light_down,thick_down
0,0,4,26,23,3,58,73.425545,162.931325,1,41.130917,27.659097,70.0,-17.2,0,0,0,0,0,0
1,1,4,26,23,3,58,73.425545,162.931325,1,41.130917,27.659097,70.0,-17.2,0,0,0,0,0,1
2,2,4,26,23,3,58,73.425545,162.931325,1,41.130917,27.659097,70.0,-17.2,0,0,0,0,1,0
3,3,4,26,23,3,58,73.425545,162.931325,1,41.130917,27.659097,70.0,-17.2,0,0,0,0,1,1
4,4,4,26,23,3,58,73.425545,162.931325,1,41.130917,27.659097,70.0,-17.2,0,0,0,1,0,0

In [5]:
raw = raw[['temperature', 'humidity', 'precipitation', 'windspeed', 'age', 'weight', 'height', 'sex', 'fatpercentage', 'bmi','cold_resistance', 'scoring_difference', 'thermal', 'hoodie', 'fleece','wool', 'light_down', 'thick_down']]

In [6]:
raw['userfeedback'] = raw.apply(lambda row : train_test_generation.getUserFeedback(row['scoring_difference']), axis = 1)

In [7]:
#raw

In [8]:
features = raw[['temperature', 'humidity', 'precipitation', 'windspeed', 'thermal', 'hoodie', 'fleece','wool', 'light_down', 'thick_down']]

In [9]:
features

,temperature,humidity,precipitation,windspeed,thermal,hoodie,fleece,wool,light_down,thick_down
0,4,26,23,3,0,0,0,0,0,0
1,4,26,23,3,0,0,0,0,0,1
2,4,26,23,3,0,0,0,0,1,0
3,4,26,23,3,0,0,0,0,1,1
4,4,26,23,3,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
191995,3,55,14,0,1,1,1,0,1,1
191996,3,55,14,0,1,1,1,1,0,0
191997,3,55,14,0,1,1,1,1,0,1
191998,3,55,14,0,1,1,1,1,1,0
191999,3,55,14,0,1,1,1,1,1,1

In [10]:
output = raw[['userfeedback']]

In [11]:
output

        userfeedback
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
191995             1
191996             1
191997             1
191998             1
191999             1

[192000 rows x 1 columns]

In [12]:
r_values = pd.read_csv("R_values_V2.csv")
r_values.tail(10)

        Attribute 1  Attribute 2  Attribute 3  Attribute 4
191990    -0.305098     -0.12241    -0.285202     0.109054
191991    -0.305098     -0.12241    -0.285202     0.109054
191992    -0.305098     -0.12241    -0.285202     0.109054
191993    -0.305098     -0.12241    -0.285202     0.109054
191994    -0.305098     -0.12241    -0.285202     0.109054
191995    -0.305098     -0.12241    -0.285202     0.109054
191996    -0.305098     -0.12241    -0.285202     0.109054
191997    -0.305098     -0.12241    -0.285202     0.109054
191998    -0.305098     -0.12241    -0.285202     0.109054
191999    -0.305098     -0.12241    -0.285202     0.109054

In [13]:
# Combining R values with CSV file

features["R1"] = r_values["Attribute 1"]
features["R2"] = r_values["Attribute 2"]
features["R3"] = r_values["Attribute 3"]
features["R4"] = r_values["Attribute 4"]

features.tail(10)

<ipython-input-13-05b61f4404db>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["R1"] = r_values["Attribute 1"]
<ipython-input-13-05b61f4404db>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["R2"] = r_values["Attribute 2"]
<ipython-input-13-05b61f4404db>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["R3"] = r_values["Attribute 3"]
<ipython-input-13-05b61f4404db>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["R4"] = r_values["Attribute 4"]

,temperature,humidity,precipitation,windspeed,thermal,hoodie,fleece,wool,light_down,thick_down,R1,R2,R3,R4
191990,3,55,14,0,1,1,0,1,1,0,-0.305098,-0.12241,-0.285202,0.109054
191991,3,55,14,0,1,1,0,1,1,1,-0.305098,-0.12241,-0.285202,0.109054
191992,3,55,14,0,1,1,1,0,0,0,-0.305098,-0.12241,-0.285202,0.109054
191993,3,55,14,0,1,1,1,0,0,1,-0.305098,-0.12241,-0.285202,0.109054
191994,3,55,14,0,1,1,1,0,1,0,-0.305098,-0.12241,-0.285202,0.109054
191995,3,55,14,0,1,1,1,0,1,1,-0.305098,-0.12241,-0.285202,0.109054
191996,3,55,14,0,1,1,1,1,0,0,-0.305098,-0.12241,-0.285202,0.109054
191997,3,55,14,0,1,1,1,1,0,1,-0.305098,-0.12241,-0.285202,0.109054
191998,3,55,14,0,1,1,1,1,1,0,-0.305098,-0.12241,-0.285202,0.109054
191999,3,55,14,0,1,1,1,1,1,1,-0.305098,-0.12241,-0.285202,0.109054

In [14]:
# Splitting the set into X and Y
X = features
Y = output

In [15]:
X.tail(10)

,temperature,humidity,precipitation,windspeed,thermal,hoodie,fleece,wool,light_down,thick_down,R1,R2,R3,R4
191990,3,55,14,0,1,1,0,1,1,0,-0.305098,-0.12241,-0.285202,0.109054
191991,3,55,14,0,1,1,0,1,1,1,-0.305098,-0.12241,-0.285202,0.109054
191992,3,55,14,0,1,1,1,0,0,0,-0.305098,-0.12241,-0.285202,0.109054
191993,3,55,14,0,1,1,1,0,0,1,-0.305098,-0.12241,-0.285202,0.109054
191994,3,55,14,0,1,1,1,0,1,0,-0.305098,-0.12241,-0.285202,0.109054
191995,3,55,14,0,1,1,1,0,1,1,-0.305098,-0.12241,-0.285202,0.109054
191996,3,55,14,0,1,1,1,1,0,0,-0.305098,-0.12241,-0.285202,0.109054
191997,3,55,14,0,1,1,1,1,0,1,-0.305098,-0.12241,-0.285202,0.109054
191998,3,55,14,0,1,1,1,1,1,0,-0.305098,-0.12241,-0.285202,0.109054
191999,3,55,14,0,1,1,1,1,1,1,-0.305098,-0.12241,-0.285202,0.109054

In [16]:
Y.tail(10)

        userfeedback
191990             1
191991             1
191992             1
191993             1
191994             1
191995             1
191996             1
191997             1
191998             1
191999             1

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=10)

In [18]:
#https://www.analyticsvidhya.com/blog/2021/10/implementing-artificial-neural-networkclassification-in-python-from-scratch/

In [19]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [20]:
ann = tf.keras.models.Sequential()

In [21]:
ann.add(tf.keras.layers.Dense(units = 32,activation="linear"))

In [22]:
ann.add(tf.keras.layers.Dense(units = 64,activation="linear"))

In [23]:
ann.add(tf.keras.layers.Dense(units = 32,activation="linear"))

In [ ]:
ann.add(tf.keras.layers.Dense(units = 32,activation="sigmoid"))

In [24]:
ann.compile(optimizer="adam",loss="binary_crossentropy",metrics=['accuracy'])

In [ ]:
ann.fit(X_train,Y_train,batch_size=64,epochs = 100)

Epoch 1/100
2250/2250 [==============================] - 2s 595us/step - loss: 0.5906 - accuracy: 0.6480
Epoch 2/100
2250/2250 [==============================] - 1s 588us/step - loss: 0.5774 - accuracy: 0.6515
Epoch 3/100
2250/2250 [==============================] - 1s 588us/step - loss: 0.5773 - accuracy: 0.6515
Epoch 4/100
2250/2250 [==============================] - 1s 591us/step - loss: 0.5773 - accuracy: 0.6522
Epoch 5/100
2250/2250 [==============================] - 1s 597us/step - loss: 0.5772 - accuracy: 0.6518
Epoch 6/100
2250/2250 [==============================] - 1s 583us/step - loss: 0.5771 - accuracy: 0.6519
Epoch 7/100
2250/2250 [==============================] - 1s 584us/step - loss: 0.5772 - accuracy: 0.6508
Epoch 8/100
2250/2250 [==============================] - 1s 585us/step - loss: 0.5772 - accuracy: 0.6521
Epoch 9/100
2250/2250 [==============================] - 1s 579us/step - loss: 0.5771 - accuracy: 0.6518
Epoch 10/100
2250/2250 [==============================] - 1s 582us/step - loss: 0.5771 - accuracy: 0.6516
Epoch 11/100
2250/2250 [==============================] - 1s 587us/step - loss: 0.5770 - accuracy: 0.6524
Epoch 12/100
2250/2250 [==============================] - 1s 602us/step - loss: 0.5771 - accuracy: 0.6517
Epoch 13/100
2250/2250 [==============================] - 1s 602us/step - loss: 0.5770 - accuracy: 0.6523
Epoch 14/100
2250/2250 [==============================] - 1s 587us/step - loss: 0.5770 - accuracy: 0.6523
Epoch 15/100
2250/2250 [==============================] - 1s 596us/step - loss: 0.5769 - accuracy: 0.6516
Epoch 16/100
2250/2250 [==============================] - 1s 604us/step - loss: 0.5769 - accuracy: 0.6523
Epoch 17/100
2250/2250 [==============================] - 1s 583us/step - loss: 0.5769 - accuracy: 0.6522
Epoch 18/100
2250/2250 [==============================] - 1s 581us/step - loss: 0.5769 - accuracy: 0.6514
Epoch 19/100
2250/2250 [==============================] - 1s 603us/step - loss: 0.5769 - accuracy: 0.6521
Epoch 20/100
2250/2250 [==============================] - 1s 589us/step - loss: 0.5769 - accuracy: 0.6522
Epoch 21/100
2250/2250 [==============================] - 1s 599us/step - loss: 0.5769 - accuracy: 0.6523
Epoch 22/100
2250/2250 [==============================] - 1s 597us/step - loss: 0.5769 - accuracy: 0.6518
Epoch 23/100
2250/2250 [==============================] - 1s 609us/step - loss: 0.5769 - accuracy: 0.6517
Epoch 24/100
2250/2250 [==============================] - 1s 579us/step - loss: 0.5768 - accuracy: 0.6522
Epoch 25/100
2250/2250 [==============================] - 1s 595us/step - loss: 0.5768 - accuracy: 0.6520
Epoch 26/100
2250/2250 [==============================] - 1s 621us/step - loss: 0.5768 - accuracy: 0.6521
Epoch 27/100
2250/2250 [==============================] - 1s 628us/step - loss: 0.5768 - accuracy: 0.65170s
Epoch 28/100
2250/2250 [==============================] - 1s 607us/step - loss: 0.5768 - accuracy: 0.6522
Epoch 29/100
2250/2250 [==============================] - 1s 608us/step - loss: 0.5768 - accuracy: 0.6517
Epoch 30/100
2250/2250 [==============================] - 1s 611us/step - loss: 0.5768 - accuracy: 0.65220s - loss: 0.5774 - accu
Epoch 31/100
2250/2250 [==============================] - 1s 610us/step - loss: 0.5768 - accuracy: 0.6520
Epoch 32/100
2250/2250 [==============================] - 1s 596us/step - loss: 0.5768 - accuracy: 0.6513
Epoch 33/100
2250/2250 [==============================] - 1s 592us/step - loss: 0.5768 - accuracy: 0.6520
Epoch 34/100
2250/2250 [==============================] - 1s 618us/step - loss: 0.5768 - accuracy: 0.6528
Epoch 35/100
2250/2250 [==============================] - 1s 652us/step - loss: 0.5768 - accuracy: 0.6523
Epoch 36/100
2250/2250 [==============================] - 1s 629us/step - loss: 0.5768 - accuracy: 0.6519
Epoch 37/100
2250/2250 [==============================] - 1s 609us/step - loss: 0.5767 - accuracy: 0.6520
Epoch 38/100
  82/2250 [>.............................] - ETA: 1s - loss: 0.5752 - accuracy: 0.6557

In [ ]:
ann.save("ANN_V2.h5")

In [ ]:
ann_model = tf.keras.models.load_model("ANN.h5")
encoder_model = tf.keras.models.load_model("encoder.h5")
test_data = np.array([[59, 76.350691, 165.034328, 1, 41.809198, 28.032665]])

weather_data = np.array([[-5 , 20 , 60, 27]])

encoded_test_data = encoder_model.predict(test_data)
#print(encoded_test_data)
final_data = np.concatenate((weather_data, encoded_test_data), axis=None)
print(final_data)

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
suggested_clothing = ann_model.predict(sc.fit_transform([final_data]))
suggested_clothing

In [ ]:
test_loss, test_accuracy = model.evaluate(X_test, Y_test)

In [ ]:
'''
from sklearn.metrics import precision_score, recall_score, accuracy_score
preds = model.predict(D_test)
best_preds = np.asarray([np.argmax(line) for line in preds])

print("Precision = {}".format(precision_score(Y_test, best_preds, average='macro')))
print("Recall = {}".format(recall_score(Y_test, best_preds, average='macro')))
print("Accuracy = {}".format(accuracy_score(Y_test, best_preds)))
'''

In [ ]:
#print(test_loss)
#print(test_accuracy)