In [1]:
import numpy as np
import pandas as pd
import random
import datetime
from sklearn.model_selection import train_test_split
from datetime import date
import tensorflow as tf
import train_test_generation
from sklearn.model_selection import GridSearchCV

62.5

In [2]:
features = pd.read_csv("features.csv")
output = pd.read_csv("output.csv")

In [3]:
features.tail(10)

,temperature,humidity,precipitation,windspeed,age,weight,height,sex,fatpercentage,bmi,cold_resistance,scoring_difference,adjusted_cold_resistance,preference_factor
99990,-7,12,34,40,48,60.0,156.0,0,24.425799,24.654832,82.5,-7.516667,80.85,98
99991,14,14,98,30,51,113.0,200.0,1,40.230000,28.250000,70.0,0.000000,72.80,104
99992,-13,45,19,24,60,41.0,178.0,0,13.128342,12.940285,32.5,9.533333,33.80,104
99993,-18,79,91,20,16,54.0,157.0,0,13.769099,21.907582,57.5,16.866667,59.80,104
99994,-18,42,80,24,31,46.0,149.0,0,15.793745,20.719787,85.0,-0.033333,86.70,102
99995,10,8,94,18,38,48.0,131.0,1,36.904478,27.970398,100.0,0.000000,98.00,98
99996,17,85,77,6,45,76.0,173.0,1,35.422117,25.393431,80.0,0.000000,76.80,96
99997,21,78,36,40,31,48.0,174.0,1,20.754970,15.854142,77.5,0.000000,79.05,102
99998,-15,42,89,34,46,38.0,113.0,0,30.091489,29.759574,90.0,-6.033333,92.70,103
99999,5,88,78,39,37,95.0,134.0,1,66.598528,52.907106,100.0,-3.666667,97.00,97

In [4]:
output.tail(10)

,thermal,hoodie,fleece,wool,light_down,thick_down,wind_breaker,umbrella,winter_boots,user_feedback
99990,False,False,True,False,True,False,True,True,False,0
99991,False,True,True,False,False,False,True,False,False,1
99992,True,False,False,False,False,True,False,False,False,2
99993,False,False,False,True,True,True,False,True,True,2
99994,False,False,False,True,False,False,False,False,False,1
99995,True,True,True,False,True,True,False,False,True,1
99996,True,True,True,True,True,False,False,True,False,1
99997,True,True,True,True,False,True,True,True,False,1
99998,False,False,False,False,True,True,False,False,True,0
99999,False,False,True,False,True,False,True,False,False,1

In [5]:
r_values = pd.read_csv("R_values.csv")
r_values.tail(10)

       Attribute 1  Attribute 2  Attribute 3  Attribute 4
99990    -0.399245    -0.707471     0.022047    -0.006399
99991    -0.462212     0.043858     0.251649    -0.137407
99992    -0.841959    -0.857318     0.069331    -0.112978
99993     0.196163    -0.342578    -0.576297    -0.005956
99994    -0.080244    -0.441829    -0.255763     0.099569
99995     0.072192     0.707204     0.444989     0.730724
99996    -0.260917     0.355484     0.302514     0.253209
99997    -0.087666     0.606994     0.012968     0.352629
99998    -0.133847    -0.428275     0.269365     0.458528
99999     0.358103     0.523236     0.479077     0.552810

In [6]:
# Combining R values with CSV file

output["R1"] = r_values["Attribute 1"]
output["R2"] = r_values["Attribute 2"]
output["R3"] = r_values["Attribute 3"]
output["R4"] = r_values["Attribute 4"]

output.tail(10)

,thermal,hoodie,fleece,wool,light_down,thick_down,wind_breaker,umbrella,winter_boots,user_feedback,R1,R2,R3,R4
99990,False,False,True,False,True,False,True,True,False,0,-0.399245,-0.707471,0.022047,-0.006399
99991,False,True,True,False,False,False,True,False,False,1,-0.462212,0.043858,0.251649,-0.137407
99992,True,False,False,False,False,True,False,False,False,2,-0.841959,-0.857318,0.069331,-0.112978
99993,False,False,False,True,True,True,False,True,True,2,0.196163,-0.342578,-0.576297,-0.005956
99994,False,False,False,True,False,False,False,False,False,1,-0.080244,-0.441829,-0.255763,0.099569
99995,True,True,True,False,True,True,False,False,True,1,0.072192,0.707204,0.444989,0.730724
99996,True,True,True,True,True,False,False,True,False,1,-0.260917,0.355484,0.302514,0.253209
99997,True,True,True,True,False,True,True,True,False,1,-0.087666,0.606994,0.012968,0.352629
99998,False,False,False,False,True,True,False,False,True,0,-0.133847,-0.428275,0.269365,0.458528
99999,False,False,True,False,True,False,True,False,False,1,0.358103,0.523236,0.479077,0.552810

In [7]:
# Splitting the set into X and Y
X = output[["R1", "R2", "R3", "R4"]]
Y = output[["thermal", "hoodie", "fleece", "wool", "light_down", "thick_down", "wind_breaker", "umbrella", "winter_boots"]]

In [8]:
X.tail(10)

             R1        R2        R3        R4
99990 -0.399245 -0.707471  0.022047 -0.006399
99991 -0.462212  0.043858  0.251649 -0.137407
99992 -0.841959 -0.857318  0.069331 -0.112978
99993  0.196163 -0.342578 -0.576297 -0.005956
99994 -0.080244 -0.441829 -0.255763  0.099569
99995  0.072192  0.707204  0.444989  0.730724
99996 -0.260917  0.355484  0.302514  0.253209
99997 -0.087666  0.606994  0.012968  0.352629
99998 -0.133847 -0.428275  0.269365  0.458528
99999  0.358103  0.523236  0.479077  0.552810

In [9]:
Y.tail(10)

,thermal,hoodie,fleece,wool,light_down,thick_down,wind_breaker,umbrella,winter_boots
99990,False,False,True,False,True,False,True,True,False
99991,False,True,True,False,False,False,True,False,False
99992,True,False,False,False,False,True,False,False,False
99993,False,False,False,True,True,True,False,True,True
99994,False,False,False,True,False,False,False,False,False
99995,True,True,True,False,True,True,False,False,True
99996,True,True,True,True,True,False,False,True,False
99997,True,True,True,True,False,True,True,True,False
99998,False,False,False,False,True,True,False,False,True
99999,False,False,True,False,True,False,True,False,False

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=10)

In [11]:
#https://www.analyticsvidhya.com/blog/2021/10/implementing-artificial-neural-networkclassification-in-python-from-scratch/

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [13]:
ann = tf.keras.models.Sequential()

In [14]:
ann.add(tf.keras.layers.Dense(units = 12,activation="relu"))

In [15]:
ann.add(tf.keras.layers.Dense(units = 12,activation="relu"))

In [16]:
ann.add(tf.keras.layers.Dense(units = 9,activation="sigmoid"))

In [17]:
ann.compile(optimizer="adam",loss="binary_crossentropy",metrics=['accuracy'])

In [ ]:
ann.fit(X_train,Y_train,batch_size=20,epochs = 30)

Epoch 1/30
3750/3750 [==============================] - 2s 536us/step - loss: 0.6527 - accuracy: 0.0284
Epoch 2/30
3750/3750 [==============================] - 2s 535us/step - loss: 0.6491 - accuracy: 0.0312
Epoch 3/30
3750/3750 [==============================] - 2s 537us/step - loss: 0.6488 - accuracy: 0.0362
Epoch 4/30
3164/3750 [========================>.....] - ETA: 0s - loss: 0.6485 - accuracy: 0.0392

In [ ]:
#ann.save("ANN.h5")

In [ ]:
#model = tf.keras.models.load_model("ANN.h5")

In [ ]:
#test_loss, test_accuracy = model.evaluate(X_test, Y_test)

In [ ]:
'''
from sklearn.metrics import precision_score, recall_score, accuracy_score
preds = model.predict(D_test)
best_preds = np.asarray([np.argmax(line) for line in preds])

print("Precision = {}".format(precision_score(Y_test, best_preds, average='macro')))
print("Recall = {}".format(recall_score(Y_test, best_preds, average='macro')))
print("Accuracy = {}".format(accuracy_score(Y_test, best_preds)))
'''

In [ ]:
#print(test_loss)
#print(test_accuracy)