In [12]:
import train_test_generation
from keras.layers import Dense,Conv2D,MaxPooling2D,UpSampling2D
from keras import Input, Model
from keras.datasets import mnist
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from keras import regularizers

In [2]:
data = train_test_generation.generateDataset(10**5, 'raw')

In [3]:
data.head()

,date,temperature,humidity,precipitation,windspeed,age,weight,height,sex,fatpercentage,...,cold_resistance,thermal,hoodie,fleece,wool,light_down,thick_down,wind_breaker,umbrella,winter_boots
0,13/01/2022,-8,81,77,38,16,96.642604,167.434419,0,28.847606,...,80.0,True,True,False,False,True,True,True,True,True
1,12/01/2022,-10,94,48,39,49,105.279941,173.730576,0,36.927603,...,90.0,True,True,False,False,True,True,True,False,False
2,11/01/2022,-7,51,91,24,32,72.424949,168.401221,0,21.806365,...,92.5,False,True,True,False,True,True,False,True,True
3,10/01/2022,9,39,47,25,26,99.304919,177.507936,0,27.599559,...,100.0,False,False,False,False,False,False,True,False,False
4,09/01/2022,24,4,59,24,39,100.815314,189.517446,0,26.452891,...,100.0,False,False,False,False,False,False,False,True,False

In [4]:
user_params_df = data[['age', 'weight', 'height', 'sex', 'fatpercentage', 'bmi']]

In [5]:
user_params_df.head()

   age      weight      height  sex  fatpercentage        bmi
0   16   96.642604  167.434419    0      28.847606  34.473005
1   49  105.279941  173.730576    0      36.927603  34.881336
2   32   72.424949  168.401221    0      21.806365  25.538638
3   26   99.304919  177.507936    0      27.599559  31.516299
4   39  100.815314  189.517446    0      26.452891  28.069076

In [6]:
#https://www.analyticsvidhya.com/blog/2021/06/complete-guide-on-how-to-use-autoencoders-in-python/

In [7]:
#num = user_params_df.values
#num = tf.convert_to_tensor(num)

In [14]:
from sklearn.preprocessing import MinMaxScaler 
X = MinMaxScaler().fit_transform(user_params_df)

In [15]:
#https://www.geeksforgeeks.org/ml-classifying-data-using-an-auto-encoder/

In [16]:
input_layer = Input(shape =(X.shape[1], ))

In [17]:
#building the autoencoder network
encoded = Dense(100, activation ='tanh',
                activity_regularizer = regularizers.l1(10e-5))(input_layer)
encoded = Dense(50, activation ='tanh',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(25, activation ='tanh',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(12, activation ='tanh',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(6, activation ='relu')(encoded)
  
# Building the Decoder network
decoded = Dense(12, activation ='tanh')(encoded)
decoded = Dense(25, activation ='tanh')(decoded)
decoded = Dense(50, activation ='tanh')(decoded)
decoded = Dense(100, activation ='tanh')(decoded)
  
# Building the Output Layer
output_layer = Dense(X.shape[1], activation ='relu')(decoded)
output_layer = Dense(X.shape[1], activation ='relu')(decoded)

In [18]:
autoencoder = Model(input_layer, output_layer)
autoencoder.compile(optimizer ="adam", loss ="binary_crossentropy" , metrics=['accuracy'])

In [ ]:
autoencoder.fit(X, X, 
                batch_size = 16, epochs = 10, 
                shuffle = True, validation_split = 0.20)

Epoch 1/10
5000/5000 [==============================] - 5s 945us/step - loss: 2.7653 - val_loss: 2.6540
Epoch 2/10
5000/5000 [==============================] - 4s 876us/step - loss: 2.6307 - val_loss: 2.6232
Epoch 3/10
5000/5000 [==============================] - 5s 918us/step - loss: 2.6168 - val_loss: 2.6085
Epoch 4/10
5000/5000 [==============================] - 4s 895us/step - loss: 2.5603 - val_loss: 2.3837
Epoch 5/10
5000/5000 [==============================] - 4s 885us/step - loss: 2.1384 - val_loss: 1.9182
Epoch 6/10
4483/5000 [=========================>....] - ETA: 0s - loss: 1.7596